.Header-container {
    font-size: 28px;
    padding: 15px;
    text-align: center;
    overflow: hidden;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,182,187,1) 44%, rgba(0,212,255,1) 100%);
}